/* .profile-content {
    margin-top: 30px;
    box-shadow: 0 0px 15px 0 rgba(255,189,117,0.8);
} */
.Home-Text{
    padding: 30px 0px;
    box-shadow: 0 0px 15px 0 rgba(247,175,253,0.8);
}
h5 {
    color: #ffa6c1
}
h2 {
    color: #ff5d8f
}
h3 {
    color: #ffba78
}
p{
    color: #ffcc84;
    font-size: 20px;
}
#description{
    color:black;
    font-family: "Optima"; 
    font-size:15px;
    font-weight:none;
}
@keyframes logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    opacity: 0;
    transition: opacity 500ms;
    animation: logo 7s ease-in-out forwards; /* Apply the animation to the .logo element */
}

.firstThree{
    padding: 20px 0;
    justify-content: center;
    display: flex;
}
